.header {
    grid-area: h;
    background: #001529;
}

.header img {
    width: 50px;
    padding: 5px 0 0 20px;
}

.loginBlock {
    float: right;
    color: #fff;
    padding: 18px;
}

.loginBlock a {
    color: #fff;
}
